<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PnF_MktAssessment._2017.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PnF_MktAssessment._2017.App.Properties.Settings.TASConnectionString"
            connectionString="Data Source=CPADEV33;Initial Catalog=TAS;Persist Security Info=True;User ID=;Password="
            providerName="System.Data.SqlClient" />
        <add name="PnF_MktAssessment._2017.App.Properties.Settings.DEV__ConnStr"
            connectionString="Data Source=.;Initial Catalog=TAS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <PnF_MktAssessment._2017.App.Properties.Settings>
            <setting name="PrevDataFilePath" serializeAs="String">
                <value />
            </setting>
        </PnF_MktAssessment._2017.App.Properties.Settings>
    </userSettings>
</configuration>
